<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include (./public/layout/head.ejs)%>
</head>
<body>
    <main>
        <div id="char">
        <%data.forEach(value =>{ %>

            <h3><%=value.character %></h3>
            <p><%=value. image %></p>
            <p><%=value.quote%></p>
           
            <%  }) %>
        </div>

        <form action="/getQuto" method="GET">
            <input type="hidden" value=" value.character " name="character ">
            <input type="hidden" value=" value.image  " name="image ">
            <input type="hidden" value=" value.quote " name="quote">
            <button> Favor character</button>

        </form>
    </main>
</body>
</html>

